/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ====== My CSS ====== */

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #aad4cf;
}

.wrapper {
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: #d4e9e7;
}

.bg-image {
	width: 100%;
	display: block;
}

h1 {
	font-size: 70px;
	color: aliceblue;
}

h2 {
	font-size: 37px;
	padding-top: 3%;
	padding-bottom: 1%;
}

h3 {
	font-size: 27px;
}

header {
	position: relative;
	height: 63vh;
	padding: 0 10%;
}

header h1 {
	position: absolute;
	top: 59%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bg-image {
	display: block;
	margin: auto;
	height: auto;
}

.nav {
	margin-bottom: 0%;
}

nav ul {
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
  	justify-content: space-between;
}


nav ul li {
	padding: 20px 0;
	display: inline-block;
	width: calc(100% / 3.05);
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li:not(:first-child) {
	border-left: 1px solid #00000070;
	padding-left: 50px;
}

.cropped {
	width: 275px;
	height: 275px;
	float: left;
	padding-right: 20px;
	padding-bottom: 30px;
  }

article p {
	line-height: 1.5;
	font-size: 17px;
}

#story {
	margin-top: .5%;
}

.facts, h3 {
	padding-top: 15px;
	padding-bottom: 10px;
}

.facts ul {
	padding-top: 10px;
	padding-left: 15px;
	margin-bottom: 0%;
	list-style: initial;
	font-size: 17px;
}

#contact-section form {
	background-color: #d4e9e7;
	padding: 15px;
	line-height: 2;
	border: 1px solid black;
}

#contact-section h3 {
	margin-top: 0%;
}

.contact-form .name input,
.contact-form .email input {
    width: 100%;
    padding: 6px;
	margin-bottom: 7px;
}

.contact-form .message textarea {
	width: 100%;
	padding: 10px;
	height: 100px;
	resize: none;
}

button, input[type="submit"] {
	background-color: #4caf4f00; /* Green background */
    color: rgb(0, 0, 0); /* White text */
	border: 1px solid black;
    padding: 10px 10px; /* Adds padding */
    cursor: pointer;
	margin-top: 10px;
	
}

footer {
	margin-top: 0px;
	text-align: right;
	padding-bottom: 100px;
}

footer p {
	background-color: #d4e9e7;
	padding-bottom: 20px;
	padding-top: 20px;
}