/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* - - - - - - - My CSS - - - - - - - */

* {
    box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: #222;
}

h1, h2, h3 {
	font-weight: bold
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 1.4vh;
}

/* - - - - - - - Navigation/Header - - - - - - - */
.container {
	max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
}

.logo-img {
	background-color: #c78c06;
}

nav ul {
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

nav ul li {
	width: 100%;
}

nav ul li a {
	display: block;
	color: #c78c06;
	text-decoration: none;
	padding: 18px 0;
}

nav ul li a:hover {
	background-color: #c78c06;
	color: #222;
}

nav ul li a.current {
	color: #222;
	background-color: #c78c06;
}

.form-search input {
	width: 93%;
	padding: 7px 10px;
}

.form-search button {
	position: absolute;
	background-color: #222;
	color: #c78c06;
	border: solid #c78c06 1px;
	width: 6%;
	height: 34px;
	font-size: 2.5vh;
}

/* - - - - - - - Banner - - - - - - - */

.banner {
    position: relative;
    max-width: 1200px;
    width: 100%;
}

.banner-info {
    top: 6vh;
    position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	padding-bottom: 20px;
}

h1 {
	font-size: 9vw;
	color: white;
	margin: 0px 10px;
	line-height: 8.5vh;
}

.banner p {
	color: white;
	margin: 0px 10px;
	padding: 0 1vh 0;
	line-height: 2vh;
}

.connect-btn {
	border: none;
	font-size: 1rem;
	margin: 3vh 3.2vw;
	padding-top: 3vh;
}

.bannerbtn {
	background-color: #c78c06;
	padding: 28px 20px;
	text-decoration: none;
	color: #222;
}

/* - - - - - - - About Us - - - - - - - */

.wrapper {
	max-width: 1200px;
    margin: 0 auto;
}

.about-us {
	background-color:#ffe6ac;
	padding: 1.5vh;
	padding-bottom: 3vh;
}

.about-us img {
	width: 100%;
}

.about-us h2 {
	padding-top: 3vh;
	font-size: 2rem;
	padding-bottom: 1vh;
}

.about-us p {
	line-height: 15px;
	padding-top: 10px;
}

/* - - - - - - - Our Services - - - - - - - */

.services{
	background-color: white;
	padding: 1vh;
}

.services h3 {
	font-size: 1.5rem;
}

.services h2 {
	margin-bottom: 2vh;
	margin-top: 2vh;
}

.services img {
	width: 100%;
}

/* - - - - - - - Digital Transformation - - - - - - - */

.digital, .marketing, .video, .web-dev, .print {
	background-color: #ffe6ac;
	padding-bottom: 40px;
}

.digital h3 {
	padding: 1.5vh;
	padding-top: 3vh;
}

.digital p {
	padding: 1.5vh;
	line-height: 2vh;
	margin-bottom: 3vh;
}

.digital a {
	margin: 1.5vh;
	background-color: #222;
    color: white;
    padding: 25px 25px; /* Adds padding */
    cursor: pointer;
	margin-top: 10px;
}

.digital i {
	font-size: 20px;
}

/* - - - - - - - Marketing - - - - - - - */

.marketing h3 {
	padding: 1.5vh;
	padding-top: 3vh;
}

.marketing p {
	padding: 1.5vh;
	line-height: 2vh;
	margin-bottom: 3vh;
}

.marketing a {
	margin: 1.5vh;
	background-color: #222;
    color: white;
    padding: 25px 25px; /* Adds padding */
    cursor: pointer;
	margin-top: 10px;
}

.marketing i {
	font-size: 20px;
}

/* - - - - - - - Video - - - - - - - */

.video h3 {
	padding: 1.5vh;
	padding-top: 3vh;
}

.video p {
	padding: 1.5vh;
	line-height: 2vh;
	margin-bottom: 3vh;
}

.video a {
	margin: 1.5vh;
	background-color: #222;
    color: white;
    padding: 25px 25px; /* Adds padding */
    cursor: pointer;
	margin-top: 10px;
}

.video i {
	font-size: 20px;
}

/* - - - - - - - Wev Dev - - - - - - - */

.web-dev h3 {
	padding: 1.5vh;
	padding-top: 3vh;
}

.web-dev p {
	padding: 1.5vh;
	line-height: 2vh;
	margin-bottom: 3vh;
}

.web-dev a {
	margin: 1.5vh;
	background-color: #222;
    color: white;
    padding: 25px 25px; /* Adds padding */
    cursor: pointer;
	margin-top: 10px;
}

.web-dev i {
	font-size: 20px;
}

/* - - - - - - - Print - - - - - - - */

.print h3 {
	padding: 1.5vh;
	padding-top: 3vh;
}

.print p {
	padding: 1.5vh;
	line-height: 2vh;
	margin-bottom: 3vh;
}

.print a {
	margin: 1.5vh;
	background-color: #222;
    color: white;
    padding: 25px 25px; /* Adds padding */
    cursor: pointer;
	margin-top: 10px;
}

.print i {
	font-size: 20px;
}

/* - - - - - - - Our Vision - - - - - - - */

.our-vision img {
	width: 100%;
}

/* Colours values used in the layout #c78c06 orange, #ffe6ac light yellow, #222, #11253d blue and white */